
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mali&family=Poppins&display=swap');

  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }

  .flex-item-left{
    flex: 50%;
  }

  .flex-item-right{
    flex: 50%;
  }

  .title{
    width: 350px;
    height: 50px;
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 43.7px */
    letter-spacing: -0.722px;
    top: 300px;
    margin-left: 855px;
}

.content{
    width: 278px;
    height: 96px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.1px;
    margin-top: 100px;
    margin-left: 855px;
}

img{
 width: 600px;
 height: 600px ;
 top: 0;
 position: absolute;
 z-index: 1000;
 display: flex;
}

/*Responsive layout*/
@media(max-width: 800px){
  .flex-item-left, .flex-item-right{
    flex: 100%;
  }
}