
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mali&family=Poppins&display=swap');

  *{
    box-sizing: border-box;
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .title{
    width: 280px;
    height: 88px;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: 50px; 
    letter-spacing: -0.722px;
    top: 300px;
    margin-left: 755px;
}

.content{
    width: 278px;
    height: 96px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.084px;
    margin-left: 755px;
}

img{
 width: 600px;
 height: 655px;
 flex-shrink: 0;
 top: 0;
 position: absolute;
 z-index: 1000;
}