
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mali&family=Poppins&display=swap');

  *{
    box-sizing: border-box;
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .flex-left{
    flex: 55%;
    flex-wrap: wrap;
    width: 401px;
    height: 640px;
    flex-shrink: 0;
    padding:50px;
    align-content: center;
    background-color: #e6e2e2;
  }
  .flex-right{
    flex:45%;
  }
  .title{
    width: 280px;
    height: 88px;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: 50px; 
    letter-spacing: -0.722px;
    top: 300px;
    margin-left: 755px;
}

.content{
    width: 278px;
    height: 96px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.084px;
    margin-left: 755px;
}

img{
 width: 600px;
 height: 655px;
 flex-shrink: 0;
 top: 0;
 position: absolute;
 z-index: 1000;
}

/*page Edit Team*/
.heading{
  display: flex;
  width: 338px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color:#000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.34px;
  margin-bottom: 8px;
}

.heading .content2{
  width: 337px;
  text-align: center;
  color: rgba(0, 0, 0, 0.80);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-break: 16px;
  letter-spacing: 0.055px;
  margin-bottom: 24px;
}

.gambar{
  width: 375px;
  height: 350px;
  flex-shrink: 0;
  margin-top: 290px;
  z-index: 1000;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

h2{
  display:flex;
  flex-direction: row;
width: 207px;
top: 50px;
color: #18a0fb;
text-align: center;
font-size: 11px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.055px;
margin-left: 200px;
margin-top: 165px;
}


.palet{
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  justify-content: center;

}

.fuschia1{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #ef5da8;
}

.fuschia2{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #f178b6;
}

.fuschia3{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #fcddec;
}

.iris1{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #5d5fef;
}

.iris2{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #7879f1;
}

.iris3{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #a5a6f6;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  background-color: #7879f1;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}